table {
	width: 99.9%;
	@include box-shadow(0 0 0 2px $gold);
	margin: 2px;
	th {
		background: lighten($gold,20%);
		padding: 0.5em;
	}
	tr {
		width: 99%;
	}
	tr.odd {
		background-color: #fff;
	}
	tr.even {
		background-color: lighten($ecru, 4%);
	}
	td {
		padding: 0.5em;
	}
}