/*******************************************************************************
 * simple.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
/* line 29, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-header,
.l-main,
.l-footer {
  *zoom: 1;
  max-width: 1190px;
  max-width: 74.375rem;
  _width: 1190px;
  padding-left: 5px;
  padding-left: 0.3125rem;
  padding-right: 5px;
  padding-right: 0.3125rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }
  /* line 38, ../../../../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-header:after,
  .l-main:after,
  .l-footer:after {
    content: "";
    display: table;
    clear: both; }

/* line 36, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 20px; }

/* line 53, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
body {
  background: #d2c3b3;
  background: #445b49;
  color: #505050;
  font-family: 'Alegreya Sans', sans-serif; }

/* line 61, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.navwrapper {
  background: #445b49; }

/* line 65, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-navigation {
  background: none;
  color: white;
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
  font-size: 1.2em; }

/* line 73, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.headerwrapper {
  background: #d2c3b3; }

/* line 77, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-header {
  margin-bottom: 0; }

/* line 86, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-branding {
  text-align: center; }

/* line 90, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.site-logo img:hover {
  opacity: 0.5; }

/* line 95, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.mainwrapper {
  background: #d2c3b3; }

/* line 99, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-main {
  background: rgba(255, 255, 255, 0.6);
  margin-bottom: 0; }

/* line 104, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-content {
  padding: 1em 0; }

/* line 108, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.footerwrapper {
  background: rgba(8, 91, 73, 0.7); }

/* line 112, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-footer {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.7); }

/* line 117, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-footer a:link,
.lfooter a:visited {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none; }

/* line 124, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-footer a:hover {
  color: white; }

/* line 129, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-footer p {
  margin-top: 0; }

/* line 133, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.block--system-main-menu {
  background: none; }

/* line 137, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.block--system-main-menu ul.menu {
  background: none;
  text-align: center; }

/* line 142, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.block--system-main-menu a:link,
.block--system-main-menu a:visited {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8); }

/* line 148, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.block--system-main-menu a:hover {
  color: white; }

@media (min-width: 44em) {
  /* line 157, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .l-header,
  .l-main,
  .l-footer {
    max-width: 1190px;
    max-width: 74.375rem; }

  /* line 163, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .l-branding {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    width: 100%;
    float: left;
    margin-right: 1.69492%; }

  /* line 167, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .l-region--header {
    width: 66.10169%;
    float: right;
    margin-right: 0;
    width: 100%;
    float: left;
    margin-right: 1.69492%; }

  /* line 171, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .l-region--navigation {
    clear: both; }

  /* line 178, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }
  /* line 181, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
  /* line 185, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right; } }
@media (min-width: 70em) {
  /* line 192, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .l-header,
  .l-main,
  .l-footer {
    max-width: 1190px;
    max-width: 74.375rem; }

  /* line 198, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .l-branding {
    width: 36.70886%;
    float: left;
    margin-right: 1.26582%;
    width: 100%;
    float: left;
    margin-right: 1.26582%; }

  /* line 202, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .l-region--header {
    width: 62.02532%;
    float: right;
    margin-right: 0;
    width: 100%;
    float: left;
    margin-right: 1.26582%; }

  /* line 208, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .has-sidebar-first .l-content {
    width: 74.68354%;
    float: right;
    margin-right: 0; }
  /* line 211, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .has-sidebar-first .l-region--sidebar-first {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }

  /* line 216, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .has-sidebar-second .l-content {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%; }
  /* line 219, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .has-sidebar-second .l-region--sidebar-second {
    width: 24.05063%;
    float: right;
    margin-right: 0;
    clear: none; }

  /* line 226, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .has-two-sidebars .l-content {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 25.31646%; }
  /* line 230, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }
  /* line 234, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .has-two-sidebars .l-region--sidebar-first {
    margin-left: -75.94937%; }
  /* line 237, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .has-two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none; } }

/*# sourceMappingURL=govcon-simple.layout.css.map */
