/*******************************************************************************
 * simple.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
/* line 29, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-header,
.l-main,
.l-footer {
  *zoom: 1;
  max-width: 1190px;
  max-width: 74.375rem;
  _width: 1190px;
  padding-left: 5px;
  padding-left: 0.3125rem;
  padding-right: 5px;
  padding-right: 0.3125rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }
  /* line 38, ../../../../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-header:after,
  .l-main:after,
  .l-footer:after {
    content: "";
    display: table;
    clear: both; }

/* line 36, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 20px; }

/* line 54, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
body {
  background: #d2c3b3;
  background: #445b49;
  background: #d2c3b3 url(/sites/default/files/gc-wave-background-grad.svg) top no-repeat;
  background-size: 100% auto;
  padding: 0;
  color: #505050;
  font-family: 'Alegreya Sans', sans-serif;
  text-rendering: optimizeLegibility; }

/* line 66, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
  color: #445b49; }

/* line 73, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
h2 {
  margin-bottom: 0; }

/* line 77, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
h3 {
  margin-bottom: 0; }

/* line 81, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
h4 {
  margin-bottom: 0; }

/* line 85, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
h2 + p,
h3 + p,
h3 + ul,
h3 + ol {
  margin-top: 0; }

/* line 92, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
h4 + p,
h4 + ul,
h4 + ol {
  margin-top: 0; }

/* line 98, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
a:link,
a:visited {
  color: #e07e27;
  text-decoration: none; }

/* line 104, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
a:hover {
  color: #445b49;
  text-decoration: underline; }

/* line 110, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
a.bodybutton:link,
a.bodybutton:visited {
  color: white;
  text-decoration: none;
  display: inline-block;
  background-color: #e07e27;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  border: 1px solid #445b49;
  margin: 0.5em 0; }

/* line 123, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
a.bodybutton:hover {
  color: white;
  text-decoration: none;
  background-color: #445b49; }

/* line 132, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.navwrapper {
  background: #445b49; }

/* line 136, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-navigation {
  background: none;
  color: white;
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
  font-size: 1.2em;
  margin-bottom: 0; }

/* line 149, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-header {
  margin-bottom: 0;
  padding: 0; }

/* line 159, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-branding {
  text-align: center;
  background: rgba(255, 255, 255, 0.6); }

/* line 165, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.panel-pane.pane-page-logo {
  display: none; }

/* line 169, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.panel-pane.pane-page-logo img {
  width: 10em;
  padding: 1em; }

/* line 174, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.panel-pane.pane-page-logo img:hover {
  opacity: 0.5; }

/* line 187, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-main {
  background: rgba(255, 255, 255, 0.6);
  margin-bottom: 0; }

/* line 192, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-content {
  padding: 1em 0; }

/* line 196, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-content p {
  font-size: 1.2em; }

/* line 200, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.footerwrapper {
  background: rgba(68, 91, 73, 0.7); }

/* line 204, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-footer {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.7);
  padding: 1em 0; }

/* line 210, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-footer a:link,
.lfooter a:visited {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none; }

/* line 217, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-footer a:hover {
  color: white; }

/* line 222, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.l-footer p {
  margin: 0 0 0.5em 0; }

/* line 228, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.pane-system-main-menu a:link,
.pane-system-main-menu a:visited {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8); }

/* line 234, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.pane-system-main-menu a:hover {
  color: white; }

/* line 238, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.pane-system-main-menu ul.menu {
  margin: 0;
  text-align: center; }

/* line 243, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.pane-system-main-menu li {
  list-style-type: none;
  list-style-image: none;
  display: inline-block;
  padding: 0.5em; }

/* line 255, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.mean-bar {
  z-index: 999998; }

/* line 264, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.mean-container div.mean-bar {
  background: #445b49;
  background: #445b49 url(/sites/default/files/govcon-wordmark-rev.svg) 4% 0.5em no-repeat;
  background-size: 2.25em; }

/* line 276, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.mean-container div.mean-bar nav.mean-nav ul li,
.mean-container div.mean-bar nav.mean-nav ul.menu li.leaf {
  background: #445b49;
  font-family: 'Playfair Display SC', serif;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 900;
  font-size: 1.2em;
  list-style-image: none;
  list-style-type: none;
  border-bottom: none; }

/* line 290, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.mean-container div.mean-bar nav.mean-nav ul.menu li.leaf a.active,
.mean-container div.mean-bar nav.mean-nav ul.menu li.leaf a {
  text-transform: capitalize; }

/* line 296, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.mean-container div.mean-bar nav.mean-nav ul li a {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: none; }

/* line 304, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.pane-block-5 {
  position: fixed;
  top: 0;
  left: 0;
  width: 10em;
  height: 2.75em;
  z-index: 999999; }

/* line 315, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.header_link {
  min-height: 3em; }

/* line 322, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.bannerimage {
  position: relative; }

/* line 327, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.view-banner-image picture img {
  width: 100%; }

/* line 331, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.bannerimage .views-field.views-field-body .field-content {
  position: absolute;
  right: 0;
  bottom: 10%;
  left: 0;
  margin: auto;
  width: 75%;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.9);
  text-align: center; }

/* line 343, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.bannerimage .views-field.views-field-body .field-content a:link,
.bannerimage .views-field.views-field-body .field-content a:visited {
  color: white;
  border: 2px solid #f37021;
  text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.9);
  background: rgba(243, 112, 33, 0.9);
  border-radius: 0.25em;
  padding: 0.25em;
  font-size: 1.5em;
  margin: 0.25em;
  display: inline-block; }

/* line 356, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.bannerimage .views-field.views-field-body .field-content a:hover {
  text-decoration: none;
  border: 2px solid white;
  background: #005b83; }

/* line 362, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.bannerimage .views-field.views-field-body .field-content a:last-child {
  margin-top: 0.5em; }

/* line 366, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.bannerimage h2 {
  font-size: 15vw;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 0.8;
  text-transform: uppercase;
  color: white; }

/* line 375, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.bannerimage h3 {
  font-size: 8vw;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.25em;
  text-transform: uppercase;
  color: white; }

/* line 387, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
#footerleft,
#footerright {
  width: 100%;
  text-align: center;
  display: inline-block; }

/* line 394, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
#footermark {
  width: 100%;
  text-align: center;
  display: block;
  float: left; }

/* line 401, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
#footermark img {
  width: 3em;
  opacity: 0.5; }

/* line 406, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
img.sm-icons {
  opacity: 0.5;
  padding: 0 0.5em; }

/* line 411, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
img.sm-icons:hover {
  opacity: 1; }

/* line 418, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
#bannerintro {
  font-family: 'Playfair Display SC', serif;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 0.5em; }

/* line 425, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
#bannerintro h1 {
  font-size: 3.5em;
  line-height: 1.1;
  margin-bottom: 0;
  margin-top: 0.25em; }

/* line 432, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
#bannerintro .bannerdate {
  font-size: 3em;
  color: #e07e27;
  font-family: 'Playfair Display SC', serif;
  font-style: italic;
  margin: 0 auto; }

/* line 441, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
#bannerintro .bannerlocation {
  font-family: 'Playfair Display SC', serif;
  color: #445b49;
  font-size: 2em;
  line-height: 1.0;
  margin: 0 0 0.5em 0; }

/* line 450, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
#bannerintro .bannercity {
  font-family: 'Playfair Display SC', serif;
  color: #044b76;
  font-size: 1.5em;
  margin-top: 0; }

/* line 458, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
#bannerintro p {
  font-size: 1.4em; }

/* line 462, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
#bannerintro .leadin {
  font-family: 'Playfair Display SC', serif;
  color: #445b49; }

/* line 467, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
#bannerintro img.wordmark {
  width: 4em; }

/* Clearfix hack */
/* line 478, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
.group:after {
  content: "";
  display: table;
  clear: both; }

/* line 486, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
img.speaker_img {
  border: 6px solid #445b49;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  /* To center for mobile */
  text-align: center;
  /* To center for mobile */ }

@media (min-width: 44em) {
  /* line 499, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .l-header,
  .l-main,
  .l-footer {
    max-width: 1190px;
    max-width: 74.375rem; }

  /* line 507, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .panel-pane.pane-page-logo {
    display: block; }

  /* line 512, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  img.speaker_img {
    float: right;
    margin: 0 0 0 1em;
    display: inline;
    /* To center for mobile */
    text-align: right;
    /* To center for mobile */ }

  /* line 526, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .pane-block-5 {
    display: none; }

  /* line 533, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .bannerimage h2 {
    font-size: 12vw; }

  /* line 538, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .bannerimage h3 {
    font-size: 7vw; }

  /* line 543, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .bannerimage a:link {
    margin: 0.5em; }

  /* line 551, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  #footerleft {
    width: 45%;
    display: block;
    float: left;
    text-align: left; }

  /* line 558, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  #footerright {
    width: 45%;
    display: block;
    float: right;
    text-align: right; }

  /* line 565, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  #footermark {
    width: 100%;
    text-align: center;
    display: block; }

  /* line 575, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .l-branding {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    width: 100%;
    float: left;
    margin-right: 1.69492%; }

  /* line 579, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .l-region--header {
    width: 66.10169%;
    float: right;
    margin-right: 0;
    width: 100%;
    float: left;
    margin-right: 1.69492%; }

  /* line 583, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .l-region--navigation {
    clear: both; }

  /* line 590, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }
  /* line 593, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
  /* line 597, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right; } }
@media (min-width: 70em) {
  /* line 604, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .l-header,
  .l-main,
  .l-footer {
    max-width: 1190px;
    max-width: 74.375rem; }

  /* line 612, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .bannerimage h2 {
    font-size: 8vw;
    font-size: 4vw; }

  /* line 618, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .bannerimage h3 {
    font-size: 3vw; }

  /* line 626, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .l-branding {
    width: 36.70886%;
    float: left;
    margin-right: 1.26582%;
    width: 100%;
    float: left;
    margin-right: 1.26582%; }

  /* line 630, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .l-region--header {
    width: 62.02532%;
    float: right;
    margin-right: 0;
    width: 100%;
    float: left;
    margin-right: 1.26582%; }

  /* line 636, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .has-sidebar-first .l-content {
    width: 74.68354%;
    float: right;
    margin-right: 0; }
  /* line 639, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .has-sidebar-first .l-region--sidebar-first {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }

  /* line 644, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .has-sidebar-second .l-content {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%; }
  /* line 647, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .has-sidebar-second .l-region--sidebar-second {
    width: 24.05063%;
    float: right;
    margin-right: 0;
    clear: none; }

  /* line 654, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .has-two-sidebars .l-content {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 25.31646%; }
  /* line 658, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }
  /* line 662, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .has-two-sidebars .l-region--sidebar-first {
    margin-left: -75.94937%; }
  /* line 665, ../../../sass/layouts/govcon-simple/govcon-simple.layout.scss */
  .has-two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none; } }

/*# sourceMappingURL=govcon-simple.layout.css.map */
