.view-cod-community-attendees {
  font-size: .8em;
  ul {
    padding: 0;
    margin-top: 30px;
    li.views-row {
      list-style: none;
      float: left;
      padding: 10px;
      margin: 0 10px 10px 0;
      width: 120px;
      height: 170px;
    }
    li.views-row.Organizer {
      background: $texture $pale-blue;
    }
  }
  .views-field-picture {
    width: 100px;
    height: 100px;
    background: url('../img/gold_star.svg') $green;
    position: relative;
    margin-bottom: 4px;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $texture;
    }
    img {
      position: relative;
      z-index: 2;
      width: 100%;
      height: auto;
    }
  }
  .Organizer.views-field-picture {
    background: url('../img/gold_star.svg') $red;
  }
  .views-field-field-profile-first,
  .views-field-field-profile-last {
    display: inline; 
    div { display: inline; }
  }
}

@include breakpoint($tab, true) {
  .view-cod-community-attendees {
    font-size: 1em;
    ul li.views-row { width: 180px; height: 240px; }
    .views-field-picture { width: 160px; height: 160px; }
  }
}
