/*******************************************************************************
 * simple.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
//@import "susy";
@import "susyone"; // Needed to utilitze older syntax in Omega

// Susy Variables

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 1em;

// Define Susy grid variables mobile first.
$total-columns: 4;
$column-width: 4em;
$gutter-width: $horz-spacing-unit;
$grid-padding: 5px;

$container-style: magic;
$container-width: 1200px;

// Susy Media Layouts @see http://susy.oddbird.net/guides/reference/#ref-media-layouts
$tab: 44em 12; // At 44em use 12 columns.
$desk: 70em 16; // At 70em use 16 columns.

.l-header,
.l-main,
.l-footer {
  @include container; // Define these elements as the grid containers.
  margin-bottom: $vert-spacing-unit;
}

.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: $vert-spacing-unit;
}



// Site Colors
// rgba(4,75,118,1) // Blue
// rgba(68,91,73,1) // Green
// rgba(224,126,39,1) // Orange
// rgba(210,195,179,1) // Tan
// rgb(80,80,80) // Dark Gray


body {
  background: rgba(210,195,179,1);
  background: rgba(68,91,73,1);
  color: rgb(80,80,80);
  font-family: 'Alegreya Sans', sans-serif;
}


.navwrapper {
  background: rgba(68,91,73,1);
}


.headerwrapper {
  background: rgba(210,195,179,1);  
}

.l-header {
  margin-bottom: 0;
}


.l-branding a.site-logo {

}

.l-branding {
  text-align: center;
}

.site-logo img:hover {
  opacity: 0.5;
}


.mainwrapper {
  background: rgba(210,195,179,1);
}

.l-main {
  background: rgba(255,255,255,0.6);
  margin-bottom: 0;
}

.l-content {
  padding: 1em 0;
}

.footerwrapper {
  background: rgba(8,91,73,0.7);
}

.l-footer {
  margin-bottom: 0;
  color: rgba(255,255,255,0.7);
}

.l-footer a:link,
.lfooter a:visited {
  color: rgba(255,255,255,0.7);
  text-decoration: none;

}

.l-footer a:hover {
  color: rgba(255,255,255,1);

}

.l-footer p {
  margin-top: 0;
}




// Breakpoint Styling Below

@include at-breakpoint($tab) { // At a given Susy Media Layout, use a given amount of columns.
  .l-header,
  .l-main,
  .l-footer {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
  }

  .l-branding {
    @include span-columns(4, 12); // Span 4 out of 12 columns.
    @include span-columns(12, 12);
  }
  .l-region--header{
    @include span-columns(8 omega, 12); // Span the last (omega) 8 columns of 12.
    @include span-columns(12,12);
  }
  .l-region--navigation {
    clear: both;
  }

  .has-sidebar-first,
  .has-sidebar-second,
  .has-two-sidebars {
    .l-content {
      @include span-columns(8, 12); // Span 8 out of 12 columns.
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span-columns(4 omega, 12); // Span the last (omega) 4 columns of 12.
    }
    .l-region--sidebar-second {
      clear: right;
    }
  }
}

@include at-breakpoint($desk) {
  .l-header,
  .l-main,
  .l-footer {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
  }

  .l-branding {
    @include span-columns(6, 16); // Span 6 out of 16 columns.
    @include span-columns(16,16);
  }
  .l-region--header{
    @include span-columns(10 omega, 16); // Span the last (omega) 10 columns of 16.
    @include span-columns(16,16);
  }

  .has-sidebar-first {
    .l-content {
      @include span-columns(12 omega, 16); // Span the last (omega) 12 columns of 16.
    }
    .l-region--sidebar-first {
      @include span-columns(4, 16); // Span 4 out of 16 columns.
    }
  }
  .has-sidebar-second {
    .l-content {
      @include span-columns(12, 16); // Span 12 out of 16 columns.
    }
    .l-region--sidebar-second {
      @include span-columns(4 omega, 16); // Span the last (omega) 4 columns of 16.
      clear: none;
    }
  }

  .has-two-sidebars {
    .l-content {
      @include span-columns(8, 16); // Span 8 out of 16 columns.
      @include push(4, 16);  // Push element by adding 4 out of 16 columns of left margin.
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span-columns(4, 16); // Span 4 out of 16 columns.
    }
    .l-region--sidebar-first {
      @include pull(12, 16); // Pull element by adding 12 out of 16 columns of negative left margin.
    }
    .l-region--sidebar-second {
      @include omega; // This element spans the last (omega) column.
      clear: none;
    }
  }
}
