@mixin hide-text{
  overflow:hidden;
  text-indent:-9000px;
  display:block;
  padding: 0;
  margin: 0;
  line-height: 0;
}

@mixin letterpress($opacity: 0.5){
  @include text-shadow(0 1px 0 rgba(255,255,255,$opacity));
}

@mixin texture-text{
  content: "";
  background: $texture-font repeat transparent;
  background-size: 100px 100px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@mixin texture-solid{
  content: "";
  background: $texture repeat transparent;
  background-size: 100px 100px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin circle($width, $color) {
  width: $width;
  height: $width;
  background: $color;
  -webkit-border-radius: $width/2;
     -moz-border-radius: $width/2;
          border-radius: $width/2;
}
